@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// variables
$themeColor: rgb(252, 193, 2);
$themeFontFamily: 'Taviraj', serif;

// mixins
@mixin fadeInAnimation($animeDuration) {
  opacity: 0;
  animation: 2s fadeIn forwards $animeDuration;
}