ul {
  list-style: none;

  a {
    text-decoration: none;
    color: #000;
  }
}

.main-menu-nav {
  height: 100vh;
  margin-left: 20px;
  top: 27%;
  left: 0;
  position: fixed;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  font-family: "Unna", serif;
  z-index: 99;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    position: relative;

    li {
      padding: 0 20px;
      font-size: 1.3rem;
    }
  }
}

.sns-nav {
  height: 100vh;
  right: 25px;
  top: 35%;
  position: fixed;
  z-index: 99;
  text-align: center;
  width: 3%;
  margin-right: 10px;

  li {
    margin: 20px;
    font-size: 1.8rem;
  }
}
