nav {
  position: fixed;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  background: $themeColor;

  a {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }
}