.home-section {
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  background-size: cover;
  display: flex;

  .introduction-container {
    height: 100vh;
    width: 30%;
  }
  .img-blur {
    position: relative;
    height: 100vh;
    width: 40vw;
    margin-left: 50%;
    z-index: 0;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 20px 20px white;
    }
    .profile-img {
      height: 100%;
      width: 40vw;
      // margin-left: 50%;
      background: url(../img/miyabi.JPG) no-repeat center center;
      background-size: cover;
      z-index: 0;
    }
  }
}

.work-section {
  height: 100vh;
  width: 100vw;
  background: lightcoral;
}
