@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  position: fixed;
  left: 0;
  z-index: 50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: #0dbfc5;
}

nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.main-container {
  background: #05f5f5;
  min-height: 100vh;
  font-family: Montserrat, sans-serif;
}

.main-container section {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 0;
  -webkit-transition: all ease-in .5s;
  transition: all ease-in .5s;
  background: white;
}

.main-container section h1 {
  color: #fcc102;
  font-size: 3rem;
  opacity: 0;
}

.main-container section:target {
  opacity: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.main-container section:target h1 {
  opacity: 0;
  -webkit-animation: 2s fadeIn forwards 0.5s;
          animation: 2s fadeIn forwards 0.5s;
}

.main-container section:target img {
  opacity: 0;
  -webkit-animation: 2s fadeIn forwards 0.5s;
          animation: 2s fadeIn forwards 0.5s;
}

.main-container section:target .frame {
  opacity: 0;
  -webkit-animation: 2s fadeIn forwards 0.7s;
          animation: 2s fadeIn forwards 0.7s;
}

.main-container section:target .img-background {
  opacity: 0;
  -webkit-animation: 2s fadeIn forwards 0.5s;
          animation: 2s fadeIn forwards 0.5s;
}

.main-container section:target .summery {
  opacity: 0;
  -webkit-animation: 2s fadeIn forwards 0.5s;
          animation: 2s fadeIn forwards 0.5s;
}

.main-container section:target .skill-container {
  opacity: 0;
  -webkit-animation: 2s fadeIn forwards 0.5s;
          animation: 2s fadeIn forwards 0.5s;
}

.main-container #home .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.main-container #home .profile-container .frame {
  position: relative;
  margin: 20px;
}

.main-container #home .profile-container .frame:after {
  position: absolute;
  content: "";
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  right: 27px;
  left: auto;
  top: auto;
  bottom: 35px;
  z-index: -1;
  width: 50%;
  height: 20%;
  background: rgba(255, 255, 255, 0.2);
}

.main-container #home .profile-container .frame img {
  margin: 20px;
  width: 400px;
  height: auto;
  z-index: 1;
  opacity: 0;
}

.main-container #home .profile-container .information-container {
  margin: 20px;
}

.main-container #home .profile-container .information-container h1 {
  font-family: 'Taviraj', serif;
}

.main-container #home .profile-container .information-container .summery {
  font-size: 1.3rem;
  width: 500px;
  text-align: justify;
}

.main-container #home .profile-container .information-container .skill-container {
  font-size: 30px;
  padding: 10px 20px;
  background: whitesmoke;
}

.main-container #home .profile-container .information-container .skill-container h3 {
  font-family: 'Taviraj', serif;
  color: #fcc102;
}

.main-container #work {
  background: #0dbfc5;
}

.main-container #contact {
  background: #F2E527;
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */