@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unna&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: block;
}

.main-container {
  height: 100vh;
  width: 85vw;
  margin: 0 auto;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  color: #000;
}

.main-menu-nav {
  margin-left: 20px;
  top: 27%;
  left: 0;
  position: fixed;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
          transform: rotate(-90deg) translateX(-100%);
  font-family: "Unna", serif;
  z-index: 99;
}

.main-menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.main-menu-nav ul li {
  padding: 0 20px;
  font-size: 1.3rem;
}

.sns-nav {
  height: 100vh;
  right: 25px;
  top: 30%;
  position: fixed;
  z-index: 99;
  text-align: center;
  width: 3%;
  margin-right: 10px;
}

.sns-nav li {
  margin: 20px;
  font-size: 1.8rem;
}

#modalMask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  opacity: 0;
  background: rgba(255, 255, 255, 0.95);
  color: #555;
  width: 800px;
  height: 400px;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
}

#modal p {
  margin: 0 0 20px;
  text-align: center;
}

.hidden-modal {
  display: none;
}

.hidden-mask {
  display: none;
}

.open,
#viewApplicationBtn,
#close {
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
  background: #bfc0c0;
  color: white;
  text-decoration: none;
}

#close {
  padding: 5px 0;
}

.modal-activated {
  overflow: hidden;
  height: 100vh;
}

.modal-animation {
  -webkit-animation: modalFadeIn 0.5s;
          animation: modalFadeIn 0.5s;
}

@-webkit-keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.link-to-app {
  margin: 0 auto 20px;
  text-align: center;
}

.link-to-app #viewApplicationBtn {
  padding: 9px 33px;
}

#home-section {
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
}

#home-section .introduction-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-section .introduction-container .introduction {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 3rem;
  font-family: "Taviraj", serif;
  font-weight: bold;
}

#home-section .introduction-container .img-blur {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  height: 85%;
  width: 50%;
  z-index: 0;
}

#home-section .introduction-container .img-blur::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(240, 124, 220, 0.15);
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 10px 10px white;
          box-shadow: inset 0 0 10px 10px white;
}

#home-section .introduction-container .img-blur .profile-img {
  height: 100%;
  width: 100%;
  background: url(../img/miyabi.JPG) no-repeat center center;
  background-size: cover;
  border-radius: 50%;
  z-index: 0;
}

#home-section .link-to-work {
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  border: 1px solid rgba(131, 128, 128, 0.9);
  border-radius: 10px;
  padding: 8px 12px;
}

#about-section,
#contact-section {
  height: 100vh;
  width: 100vw;
}

#work-section {
  height: 140vh !important;
}

#work-section h1 {
  text-align: center;
  font-family: "Taviraj", serif;
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

#work-section .work-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#work-section .work-container .work-row1,
#work-section .work-container .work-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

#work-section .work-container .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 350px;
  background: rgba(245, 245, 245, 0.5);
  margin: 2rem;
  border-radius: 15px;
}

#work-section .work-container .work p {
  margin-bottom: 10px;
  color: #000000;
  font-family: "Taviraj", serif;
  font-weight: bolder;
  font-size: 1.3rem;
}

#work-section .work-container .work img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

#work-section .work-container .work .tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

#work-section .work-container .work .tech-container .tech {
  border-radius: 5px;
  padding: 0 3px;
  margin-right: 2px;
}

#work-section .work-container .work .tech-container .html {
  background: #f56946;
}

#work-section .work-container .work .tech-container .css {
  background: #4c87f5;
}

#work-section .work-container .work .tech-container .sass {
  background: #fc657e;
}

#work-section .work-container .work .tech-container .js {
  background: #f7cd12;
}

#work-section .work-container .work .tech-container .bootstrap {
  background: #bd8ff8;
}

#about-section .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about-section .main-container h1 {
  text-align: center;
  font-family: "Taviraj", serif;
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

#about-section .main-container h3 {
  font-family: "Taviraj", serif;
  font-size: 1.6rem;
  font-weight: 900;
  color: #4d4f52;
}

#about-section .main-container .aboutme-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  border: solid rgba(155, 156, 158, 0.3);
  border-width: 0 1px;
}

#about-section .main-container .aboutme-container .what-i-love-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 50%;
  height: 90vh;
}

#about-section .main-container .aboutme-container .what-i-love-container img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

#about-section .main-container .aboutme-container .what-i-love-container #caption-for-img {
  font-family: "Taviraj", serif;
  font-weight: bold;
  font-size: 1.5rem;
}

#about-section .main-container .aboutme-container .aboutme-text-container {
  width: 40%;
  margin: 0 auto;
  text-align: justify;
}

#about-section .main-container #resume {
  border: 1px solid rgba(102, 100, 100, 0.9);
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px 20px;
  color: #000000;
  text-decoration: none;
}

#contact-section {
  font-family: "Taviraj", serif;
  position: relative;
}

#contact-section .coming-soon-notice {
  position: absolute;
  background: rgba(241, 240, 240, 0.8);
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#contact-section .coming-soon-notice p {
  width: 50%;
  margin: 0 auto;
  font-size: 1.5rem;
}

#contact-section h1 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 1.5rem;
}

#contact-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  width: 100%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.3rem;
}

#contact-section form .name-mail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding-bottom: 1rem;
}

#contact-section form .name-mail-container input {
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
}

#contact-section form .name-mail-container div {
  width: 100%;
  margin: 0;
}

#contact-section form .textarea-container {
  width: 100%;
}

#contact-section form .textarea-container textarea {
  width: 100%;
  height: 14rem;
}

#contact-section footer {
  text-align: center;
}

.fade-in {
  opacity: 0;
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  -webkit-transition-property: opacity transform;
  transition-property: opacity transform;
}

.fade-in-up {
  -webkit-transform: translate(0 50px);
          transform: translate(0 50px);
}

.scroll-in {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media screen and (min-width: 1150px) {
  #work-section {
    height: 100vh;
  }
}

.fade-in-animation {
  -webkit-animation: fadeInImg 3.5s infinite;
          animation: fadeInImg 3.5s infinite;
}

@-webkit-keyframes fadeInImg {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInImg {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */